<script>
    const socket = io.connect('/')
    const boxList = document.querySelector('#list')
    const sendBtn = document.querySelector('.btn-message')
    const textMessage = document.querySelector('.text-message')
    const username = document.querySelector('.user-name')

    const getTmp = (msg) => {
        return `
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <small class="text-muted">${msg.user}</small>
                    </div>
                    <p class="mb-1">${msg.text}</p>
                </div>
        `;
    };

    socket.on('message-to-all', (msg) => {
        const div = getTmp(msg)
        boxList.insertAdjacentHTML('beforeend', div)
    })

    sendBtn.addEventListener('click', () => {
        socket.emit('message-to-all', {
            user: username.value,
            text: textMessage.value
        })
    })
</script>
</body>
</html>